.accountPage {
    background: #f7f8f9;
    height: 100%;
}

.header {
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 24px;
    box-shadow: 0 2px 6px rgba(0,0,0,.08);
}

.header h2 {
    font-size: 20px;
    font-weight: 600;
    color: #1d2226;
}

.profileSection {
    display: flex;
    align-items: flex-start;
    padding: 25px 24px 15px;
    gap: 18px;
}

.imageBox {
    position: relative;
}

.imageBox img {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    object-fit: cover;
}

.camera {
    position: absolute;
    bottom: 0;
    right: -1px;
    width: 22px;
    height: 22px;
    background: #6C25FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 11px;
}

.details h3 {
    font-size: 18px;
    color: #1d2226;
    margin-bottom: 6px;
    font-weight: 700;
}

.details p {
    color: #555;
    font-size: 15px;
}

.description {
    padding: 0 24px;
    color: #333;
    font-size: 14px;
    line-height: 28px;
}

.divider, .divider1 {
    margin: 30px 0px 29rem;
    border-bottom: 2px dashed #d8d8d8;
}

.divider1 {
    align-self: flex-end;
}